@page
@model IndexModel
@{
    ViewData["Title"] = "Library Management System";
}

<div class="text-center">
    <h1 class="display-4">Library Management System - Ruchir Chawdhry</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>The current date and time is: @DateTime.Now</p>

