@page "/librarybookslist"

<h3>Library Books List</h3>

<input type="number" min="0" max="@libraryBooks.Length" @onchange="@(e => UpdateResults(int.Parse(e.Value.ToString())))" />

<button class="btn btn-primary" @onclick="ViewBooks">View Books</button>

<p>
@for(int i = 0; i < displayLimit; i++)
    {
        @libraryBooks[i] <br />
    }
</p>


@code {
    private string[] libraryBooks = new string[5];
    private int displayLimit = 5;


    private void ViewBooks()
    {
        libraryBooks = new string[]
        {
            "To Kill a Mockingbird",
            "1984",
            "The Great Gatsby",
            "The Lord of the Rings",
            "Harry Potter and the Philosopher's Stone"
        };
    }

    private void UpdateResults(int num)
    {
    if(num > 0 && num <= libraryBooks.Length){
        displayLimit = num;
    }
    }
}
