@page "/librarybookslist"

<h3>Library Books List</h3>

<input type="number" @bind="@displayLimit" min="0" max="@libraryBooks.Length" @oninput="HandleInputChange" />


<button class="btn btn-primary" @onclick="ViewBooks">View Books</button>
<ul>
    @foreach (var book in libraryBooks.Take(displayLimit))
    {
        <li>@book</li>
    }
</ul>


@code {
    private string[] libraryBooks = new string[] { };
    private int displayLimit = 5;


    private void ViewBooks()
    {
        libraryBooks = new string[]
        {
            "To Kill a Mockingbird",
            "1984",
            "The Great Gatsby",
            "The Lord of the Rings",
            "Harry Potter and the Philosopher's Stone"
        };
    }

    private void HandleInputChange(ChangeEventArgs e)
    {
        displayLimit = Convert.ToInt32(e.Value);
    }


}
