@page
@model LibraryManagementSystem.Pages_Books.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Library</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Library.BookName" class="control-label"></label>
                <input asp-for="Library.BookName" class="form-control" />
                <span asp-validation-for="Library.BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.BookCategory" class="control-label"></label>
                <input asp-for="Library.BookCategory" class="form-control" />
                <span asp-validation-for="Library.BookCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.BookDescription" class="control-label"></label>
                <input asp-for="Library.BookDescription" class="form-control" />
                <span asp-validation-for="Library.BookDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.BookAuthor" class="control-label"></label>
                <input asp-for="Library.BookAuthor" class="form-control" />
                <span asp-validation-for="Library.BookAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.PublishDate" class="control-label"></label>
                <input asp-for="Library.PublishDate" class="form-control" />
                <span asp-validation-for="Library.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Library.OnLoan" /> @Html.DisplayNameFor(model => model.Library.OnLoan)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Library.LoanedTimes" class="control-label"></label>
                <input asp-for="Library.LoanedTimes" class="form-control" />
                <span asp-validation-for="Library.LoanedTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.LoanedByName" class="control-label"></label>
                <input asp-for="Library.LoanedByName" class="form-control" />
                <span asp-validation-for="Library.LoanedByName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Library.TotalPages" class="control-label"></label>
                <input asp-for="Library.TotalPages" class="form-control" />
                <span asp-validation-for="Library.TotalPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.Publisher" class="control-label"></label>
                <input asp-for="Library.Publisher" class="form-control" />
                <span asp-validation-for="Library.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library.ISBN" class="control-label"></label>
                <input asp-for="Library.ISBN" class="form-control" />
                <span asp-validation-for="Library.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
